*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../bgpic.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li {
    display: inline-block;

}
ul li a {
    text-decoration: none;
    color: #ffffff;
    
    padding: 5px 20px;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: black;
    
}
ul li.active a{
    background-color: #fff;
    color: black;
}
.logo img {
    float: left;
    margin-top: 15px;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title h1{
    font-size:70px ;
    color: blanchedalmond;
}
.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%); 
}
.btn{
    border: 1px solid white;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    transition: 0.6s ease;
}
.button a:hover{
    background-color: white;
    color: black;
}